doctype html
html
    head(lang="en")
        title title name
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
        // if lt IE 9
            script(type="text/javascript", src="js/html5shiv.js")
        link(rel="stylesheet", href="css/style.css", type="text/css")
        
    body
      .wrapper__master
        section.row.wrapper
          article.wrapper__hero.col.s10.offset-s1
            h1.header__marquee.center-align hello world
            .aniWrap
              .mouse
                .scroller
          .col.s12.m4.bubba.alfie
          .col.s12.m4.bubba.bronco
          .col.s12.m4.bubba.chuck
        section.row
          .col.s12.bubba.dennis
        article.wrapper__secondary
          .test.test-1
          .test.test-2
          .test.test-3
          .test.test-4
          .test.test-5
          .test.test-6
          section.row
            article.col.s10.offset-s1.title
              h1.home__greeting Bourbon + F5 + Gulp
              h2.home__greeting--sub My living, breathing root workflow.
              p.home__greeting--copy Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus.
              article.col.s12.valign-wrapper
                button.btn.pink.lighten confirm
              
  
